{% extends 'base.html' %}
{% load static %}
{% load utils %}
{% block title %}Luxor Propiedades{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'inmobiliaria/css/index.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'inmobiliaria/script.js' %}"></script>
{% endblock %}
{% block content %}
<section class="hero m-5">
  <div class="hero-text">
    <h1>{{ home.hero_titulo }}</h1>
    <p>{{ home.hero_texto }}</p>
  </div>
  <div class="hero-img">
    <img src="{% static 'inmobiliaria/images/prop-lujosa.jpg' %}" alt="Propiedad de lujo">
  </div>
</section>

<section class="valores">
  <h2>{{ home.valores_titulo }}</h2>

    <div class="valores-grid">
      {% for valor in home.valores.all %}
        <div class="valor">
          {% with imagen=imagenes_valores|get_item:valor.titulo %}
            {% if imagen %}
              <img src="{% static imagen %}" alt="{{ valor.titulo }}">
            {% endif %}
          {% endwith %}

          <h3>{{ valor.titulo }}</h3>
          <p>{{ valor.descripcion }}</p>
        </div>
      {% endfor %}
    </div>

</section>
<section class="novedades">
  <h2>Novedades del mercado</h2>

  <div class="novedades-grid">
    {% for n in novedades %}
      <div class="novedad-card">
        <h3>{{ n.titulo|capfirst }}</h3>
        <p>{{ n.descripcion|truncatechars:120 }}</p>
      </div>
    {% empty %}
      <p>No hay novedades disponibles.</p>
    {% endfor %}
  </div>
</section>
<section class="cta">
  <div class="cta-content">
    <h2>¿Buscás tu próxima propiedad?</h2>
    <p>En Luxor Propiedades te ofrecemos inmuebles exclusivos con el respaldo de nuestra experiencia y profesionalismo.</p>
    <a href="{% url 'contacto' %}" class="cta-btn">Agendá una visita</a>
  </div>
</section>
{% endblock %}
