/* CONTENEDOR */
.edit-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  background: var(--color-beige);
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.edit-title {
  text-align: center;
  margin-bottom: 25px;
  color: var(--color-marron);
  font-family: var(--font-titulos);
}

/* Labels */
.edit-form label {
  font-family: var(--font-textos);
  color: var(--color-marron);
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

/* Inputs, selects y textarea */
.edit-form input,
.edit-form textarea,
.edit-form select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 1rem;
  transition: 0.3s ease;
}

.edit-form input:focus,
.edit-form textarea:focus,
.edit-form select:focus {
  outline: none;
  border-color: var(--color-marron);
}

/* BOTONES */
.edit-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.save-btn {
  flex: 1;
  background: var(--color-marron);
  color: var(--color-blanco);
  padding: 14px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.save-btn:hover {
  background: #5C2F0C;
  transform: translateY(-2px);
}

.cancel-btn {
  flex: 1;
  text-align: center;
  padding: 14px;
  font-size: 1.1rem;
  background: #bca48c;
  color: var(--color-blanco);
  border-radius: 10px;
  display: block;
  text-decoration: none;
  transition: 0.3s ease;
}

.cancel-btn:hover {
  background: #a68d75;
  transform: translateY(-2px);
}
