.login-container {
  max-width: 450px;
  margin: 70px auto;
  padding: 40px;
  background: var(--color-beige);
  border-radius: 15px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}

.login-container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: var(--color-marron);
  font-family: var(--font-titulos);
}

.login-form label {
  font-family: var(--font-textos);
  color: var(--color-marron);
  font-weight: 600;
  margin-bottom: 5px;
  display: block;
}

.login-form input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  transition: 0.3s ease;
}

.login-form input:focus {
  outline: none;
  border-color: var(--color-marron);
}

.btn-login {
  width: 100%;
  background: var(--color-marron);
  color: var(--color-blanco);
  padding: 15px;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-login:hover {
  background: #5C2F0C;
  transform: translateY(-2px);
}

.login-links{
    text-align: center;
}

.login-links a{
    color: var(--color-oscuro-marron);
}

.auth-links {
  text-align: center;
  margin-top: 15px;
}

.auth-links a {
  color: var(--color-marron);
  font-weight: bold;
  text-decoration: none;
}

.auth-links a:hover {
  text-decoration: underline;
}

/* Mensajes */
.alert {
  padding: 12px;
  border-radius: 10px;
  font-family: var(--font-textos);
  margin-bottom: 20px;
}

.alert.success {
  background: var(--color-marron);
  color: var(--color-blanco);
}

.alert.error {
  background: #d88c6a;
  color: #fff;
}