{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'inmobiliaria/css/login.css' %}">
<link rel="stylesheet" href="{% static 'inmobiliaria/css/passwordreset.css' %}">
{% endblock %}
{% block content %}
<div class="login-container">

    <h2>Nueva contraseña</h2>

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn-login">
            Cambiar contraseña
        </button>
    </form>

</div>
{% endblock %}
