{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'inmobiliaria/css/login.css' %}">
<link rel="stylesheet" href="{% static 'inmobiliaria/css/passwordreset.css' %}">
{% endblock %}
{% block extra_js %}
<script src="{% static 'inmobiliaria/js/auth.js' %}"></script>
{% endblock %}
{% block content %}
<div class="login-container">

    <h2>Recuperar contraseña</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" class="login-form">
        {% csrf_token %}
        {{ form.email.label_tag }}
        {{ form.email }}

        <button type="submit" class="btn-login">
            Enviar enlace
        </button>
    </form>

    <div class="login-links mt-4">
        <a href="{% url 'login' %}">Volver al login</a>
    </div>

</div>
{% endblock %}
